*{
    padding: 0px;
    margin: 0px;
}

#abtbanflex{
    background-color: #D30000;
}

#abtban2 li :hover{
    color: yellowgreen;
}

#abtban2 a{
    text-decoration: none;
    font-size: 1.7em;
    color: white;
}

#abtban2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #C73131;
    margin-top: 20px;
    padding: 10px;
}
