

#aboutus p{
    font-size: 2.2em;
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

#aboutban{
    background-image: url("../images/about_ban.jpg");
    width: 100%;
    height: 800px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    overflow: visible;
}

#ab_text p{
    font-size: 1.5em;
    font-family:Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    width: 70%;
    margin-bottom: 20px;
}

#aboutstuff1{
    display: flex;
    flex-direction: row;
}

div#aboutstuff1 img{
    width: 800px;
    height: 400px;
    margin-top: 20px;
}

div#aboutstuff1 h2{
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #C73131; 
}

#aboutstuff1 p{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: left;
    padding: 0px 100px;
}

#aboutstuff2{
    display: flex;
    flex-direction: row;
}

div#aboutstuff2 img{
    width: 800px;
    height: 400px;
    margin-top: 20px;
}

div#aboutstuff2 h2{
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #C73131; 
}

#aboutstuff2 p{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: left;
    padding: 0px 100px;
}

