#con_ban{
    background-image: url(../images/contact_ban.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#conlocation{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#conlocation iframe{
    width: 350px;
    height: 300px;
    margin-top: 20px;
}

#conlocation h2{
    font-weight: bold;
    font-size: 1.7em;
    padding: 10px 0px;
    width: 80%;
} 

#conlocation p{
    font-size: 1.3em;
    padding: 2.5px 0px;
    width: 80%;
}

#coninfo{
    background-color: #C73131;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

#coninfo h4{
    font-size: 1.3em;
}

#coninfo p{
    font-size: 1.2em;
}

#conus{
   text-align: center;
   background-color: lightblue;
   padding: 10px;
   margin-top: 20px;
}

#conus h2{
    font-size: 1.5em;
    margin: 5px;
}

#conus input{
    width: 250px;
    padding: 5px;
}

#submitbox
{
    width: fit-content;
    padding: 5px;
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #C73131;
    color: white;
    border-radius: 10px;
}

#conus textarea{
    width: 250px;
}