#login_ban{
    background-image: url(../images/login_ban_crop.jpg);
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: cover;
}

#logreg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#login_form{
    border: 2px black solid;
    background-color: thistle;
    width: 40%;
    padding: 10px;
}

#login_form h3{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

#login_form input{
    width: 80%;
    padding: 10px;
}

#login_form a{
    padding: 5px;
}

input#loginBTN{
    width: fit-content;
    padding: 5px;
    font-size: 1.2em;
    background-color: #D30000;
    color: white;
    font-weight: bold;
}

#register{
    border: 2px solid black;
    background-color: tomato;
    width: 40%;
}

#register h2{
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}

#register p{
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
    color: darkblue;
}

#register a p:hover{
    color: white;
}


.loglbl{
    font-size: 2em;
    padding: 10px;
}